:root {
  --black-color: #000000;
  --primary-text-color: #212121;
  --blue-color: #2196f3;
  --background-color-dark: #2f303a;
  --grey-text-color: #757575;
  --white-color: #ffffff;
  --button-background: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --secondary-white: #f5f5f5;
}
/* index.html */
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--black-color);
  font-family: Oleo Script, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.half-logo {
  font-family: Raleway, sans-serif;
  color: var(--blue-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.site-nav-link.current {
  color: var(--blue-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.list {
  list-style: none;
}

.site-nav-portfolio {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-portfolio:hover,
.site-nav-portfolio:focus {
  color: var(--blue-color);
}

.site-nav-contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.info-link a {
  color: var(--grey-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.info-link a:hover,
.info-link a:focus {
  color: var(--blue-color);
}

/* основний заголовок */
.hero {
  background-color: var(--background-color-dark);
}
.hero-headline {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-align: center;
  }

  .main-button {
  background-color: #2196f3;
  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/* секція особливості */

.small-headings {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
}
.description {
  color: var(--grey-text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  
}

.section-headings {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  
}

/* секція наша команда */
.section-team {
  background-color: var(--button-background);
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  
}
.team-positions {
  color: var(--grey-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  
}

/* футер */
.page-footer {
  background-color: #2f303a;
}
.bottom-logo {
  color: var(--white-color);
  font-family: Oleo Script, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.address{
  font-style: normal;
}
.contacts-details {
  color: var(--address-color);
  line-height: 1.7;
  text-align: left;
  text-decoration: none;
  
}
.contacts .contacts-details:hover,
.contacts .contacts-details:focus {
  color: var(--white-color);
}

/* Портфоліо */
.site-nav-studio{
  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
}

.button-filters {
  color: var(--primary-text-color);
  background-color: var(--button-background);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  
}
.button-filters:hover,
.button-filters:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
}

.catalog-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.catalog .application {
  color: var(--grey-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-decoration: none;
}
